@font-face {
  font-family: Playfair-Bold;
  src: url(fonts/PlayfairDisplayBold.otf);
}

@font-face {
  font-family: Playfair-Regular;
  src: url(fonts/PlayfairDisplay-Regular.otf);
}

@font-face {
  font-family: Novecento;
  src: url(fonts/Novecento.otf);
}

/* GRIDS AND BOXES */

* {
    box-sizing: border-box;
  }

.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* MAIN STYLES */

.container {
  text-align: center;
  padding-top: 30px;
}

.line {
  height: 1px;
  border-bottom: 2px solid #e6e6e6;
  width: 80%;
  margin: 0 auto;
  display: block;
}

.name {
  font-family: Playfair-Bold;
  font-size: 5em;
}

.name a {
  color: #000 !important;
}

.name a:hover {
  text-decoration: none;
}

.title {
  font-family: Playfair-Regular;
  font-size: 1.5em;
  letter-spacing: 15px;
  margin-bottom: 15px;
}

a:link {
  text-decoration: none;
  color: #999999;
}

a:visited {
  color: #999999;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

a:active {
  color: #000;
  text-decoration: underline;
}

.navigation ul li {
  display: inline-block;
  padding: 8px;
  font-family: Novecento;
  color: #999999;
  letter-spacing: 1.5px;
}


.front-image {
  margin: 20px;
}

.front-image img {
  width: 45%;
}

.copyright{
  font-family: Novecento;
  font-size: 1em;
}


/* CONTENT STYLES */

.content {
  margin: 20px 80px 20px 80px;
  font-family: Playfair-Regular;
  text-align: left;
}

.headline {
  font-family: Playfair-Bold;
}

/* INTELLECTUAL PROPERTY PAGE STYLES */

.patent img {
  width: 70%;
}


/* COPYRIGHT PAGE STYLES */

.copyright img {
  width: 100%;
}


/* PHOTOGRAPHY PAGE STYLES */

.books {
  text-align: center;
}

.books img {
  max-height: 175px;
  margin: 10px;
}

/* PUBLISH PAGE STYLES */

.publish img {
  width: 100%;
}
