@font-face {
  font-family: Playfair-Bold;
  src: url(fonts/PlayfairDisplayBold.otf);
}

@font-face {
  font-family: Playfair-Regular;
  src: url(fonts/PlayfairDisplay-Regular.otf);
}

@font-face {
  font-family: Novecento;
  src: url(fonts/Novecento.otf);
}

/* GRIDS AND BOXES */

* {
    box-sizing: border-box;
    color: #212121;
  }

.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* MAIN STYLES */

.container {
  text-align: center;
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}

.line {
  height: 1px;
  border-bottom: 2px solid #e6e6e6;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.name {
  font-family: Playfair-Bold;
  font-size: 5em;
  color: #212121;
}

.title {
  font-family: Playfair-Regular;
  font-size: 1.5em;
  letter-spacing: 15px;
  margin-bottom: 15px;
}

.copyright{
  font-family: Novecento;
  font-size: 1em;
}

/* FRONT PAGE STYLES */

.front-image {
  margin: 20px;
}

.front-image img {
  width: 65%;
}

/* LINK & NAVIGATION STYLES */

a:link {
  text-decoration: none;
  color: #828282;
}

a:visited {
  color: #828282;
}

a:hover {
  color: #212121;
  text-decoration: underline;
}

.active a {
  text-decoration: underline;
  color: #212121;
}

.name a {
  color: #212121;
}

.name a:hover {
  text-decoration: none;
}

.navigation {
  margin: 0 -10px;
}

.navigation .nav {
  display: inline-block;
  padding: 15px 8px;
  font-family: Novecento;
  letter-spacing: 1.5px;
  font-size: .9em;
}

/* CONTENT STYLES */

.content {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  line-height: 1.6;
}

.headline {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
}

/* INTELLECTUAL PROPERTY PAGE STYLES */

.patent img {
  width: 100%;
}


/* COPYRIGHT PAGE STYLES */

.copyright img {
  width: 100%;
}


/* PHOTOGRAPHY PAGE STYLES */

.photo-right img {
  width: 100%;
  padding: 15px 0px;
}

/* PUBLISH PAGE STYLES */

.publish img {
  width: 100%;
}

/* ABOUT PAGE STYLES */

.about img {
  margin-top: 16px;
  width: 100%;
}

/* MEDIA QUERIES */

@media screen and (min-width: 300px) and (max-width: 700px) {
  .container {
    width: 100%;
  }
  .content {
    width: 100%;
  }
}
